<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <title>Administración de la Poketienda</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <h1>Administración de la Poketienda</h1>
    <form id="form_area_administrativa" action="administracion" method="post">
        <input type="submit" id="btn_desconectar" th:value="#{boton_desconectar}"/><br><br>
        <input type="button" id="btn_usuarios"  onclick="window.location.assign('listado-usuarios')" th:value="#{boton_ver_usuarios}"><br><br>
        <input type="button" id="btn_clientes"  onclick="window.location.assign('listado-clientes')" th:value="#{boton_ver_clientes}">
    </form>
</body>
<script th:src="@{/scripts/usuario.js}"></script>
</html>