<!DOCTYPE html>
<html lang="en">
<head>
    <title>Área personal</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <th:block th:replace="~{fragments/cabecera.html :: cabecera}"/>
    <span th:replace="~{fragments/inicio_sesion.html :: sesionhead}"></span>
    <link type="text/css" rel="stylesheet" th:href="@{/css/navegacion.css}"/>
    <script th:src="@{/scripts/navegacion.js}"></script>
</head>
<body>
    <th:block th:replace="~{fragments/cabecera.html :: baner}"/>
    <th:block th:replace="~{fragments/cabecera.html :: navegacion}"/>
    <form id="form_area_mas_personal" action="area-mas-personal" method="post">
        <a class="clasea" th:href="@{area-personal}" th:text="#{enlace_volver}"></a>
    </form>
    <th:block th:replace="~{fragments/cabecera.html :: pie}"/>
</body>
<script th:src="@{/scripts/usuario.js}"></script>
</html>