<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <title>Administración de la Poketienda</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
            text-align: center;
            padding: 5px;
        }
    </style>
</head>
<body>
    <th:block th:replace="~{fragments/admin.html :: tabla_usuarios}"/>
</body>
<script th:src="@{/scripts/borrar-usuario.js}"></script>
<script th:src="@{/scripts/desbloquear-usuario.js}"></script>
</html>