<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Recuperar la contraseña</title>
    <th:block th:replace="~{fragments/cabecera.html :: cabecera}"/>
    <th:block th:replace="~{fragments/inicio_sesion.html :: sesionhead}"/>
    <link type="text/css" rel="stylesheet" th:href="@{/css/navegacion.css}"/>
    <link type="text/css" rel="stylesheet" th:href="@{/css/usuario.css}"/>
    <script th:src="@{/scripts/navegacion.js}"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
</head>
<body>
    <th:block th:replace="~{fragments/cabecera.html :: navegacion}"/>
    <th:block th:replace="~{fragments/inicio_sesion.html :: recuperarContrasena}"/>
    <th:block th:replace="~{fragments/cabecera.html :: pie}"/>
</body>
<script th:src="@{/scripts/recuperacion.js}"></script>
</html>