<html lang="es" xmlns:th="http://www.w3.org/1999/html">
<form id="datos-cliente" method="post" th:object="${cliente}" >
    <div class="wrapper fadeInDown">
    <fieldset id="formContentRegistro" >
        <img src="/images/ultraball.png" style="width: 25px; height: 25px;">
        <h4 th:text="#{etiqueta_datos_cliente}"  class="registro"/>
    <fieldset>
        <legend th:text="#{etiqueta_direccion_entrega}" />
        <div th:object="${direccionentrega}" th:insert="~{fragments/direccion}"></div>
    </fieldset>

    <fieldset>
        <div id="tarjetas">
        <h4 th:text="#{etiqueta_tarjeta}" />
        <div th:insert="~{fragments/tarjeta}" id="tarjeta1"></div>
        </div>
    </fieldset>
    <fieldset>
        <legend th:text="#{etiqueta_comentarios}" />
        <div th:if="${!readOnly}">
        <textarea th:field="*{comentarios}" th:placeholder="#{phComentarios}" rows="6" cols="50"></textarea>
        </div>
        <div th:if="${readOnly}">
            <textarea th:field="*{comentarios}" th:readonly="${readOnly}" rows="6" cols="50"></textarea>
        </div>
        <th:block th:each="error : ${#fields.errors('comentarios')}">
            <div th:text="${error}" class="error"/>
        </th:block>
    </fieldset>


    <div th:if="${!readOnly}">
        <input type="submit" id="btn_siguiente" th:value="#{etiqueta_botonResumen}" class="fadeIn third inicio-sesion">
    </div>
    </fieldset>
    </div>
</form>