<html lang="es" xmlns:th="http://www.w3.org/1999/html">
<form id="datos-contacto" method="post" th:object="${cliente}">
    <fieldset>
        <legend th:text="#{etiqueta_datos_contacto}" class="formulario"/>
        <br>
        <label class="titulo" th:text="#{etiqueta_telefono}+':'"/>
        <input type="text" th:readonly="${readOnly}" th:field="*{telefonoMovil}"/>

        <br>
        <th:block th:each="error : ${#fields.errors('comentarios')}">
            <div th:text="${error}" class="error"/>
        </th:block>

        <fieldset>
            <legend th:text="#{etiqueta_direccion}" />
            <div th:insert="~{fragments/direccion}" th:object="${direccion}"></div>
        </fieldset>

        <br>
    </fieldset>
    <div th:if="${!readOnly}">
    <input type="submit" th:value="#{etiqueta_botonSiguiente}">
    </div>
</form>