<span th:fragment="sesionhead">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link th:href="@{/css/usuario2.css}" rel="stylesheet">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</span>

<span th:fragment="logo">
    <br>
    <div class="fadeIn first">
        <img th:src="@{/images/pokelogo.png}" id="icon" alt="Logo" />
    </div><br>
</span>
<span th:fragment="recuperarclave">
    <div class="fadeIn forth">
        <a class="clasea" th:href="@{recuperar}" th:text="#{enlace_recuperar_clave}"></a>
    </div>
</span>
<span th:fragment="crearcuenta">
    <div id="formFooter">
        <a class="clasea" th:href="@{registro}" th:text="#{enlace_registro}"></a>
    </div>
</span>

<span th:fragment="recuperarContrasena">
    <form id="form_recuperacion_clave" action="recuperar" method="post">
        <div class="wrapper">
            <div id="formContent">
                <th:block th:replace="~{fragments/inicio_sesion.html :: logo}"/>
                <h4 th:text="#{etiqueta_recuperar_clave}"></h4><br>
                <div id="email_boton">
                    <label id="lab_email" for="email" th:text="#{etiqueta_email}"></label>
                    <input type="text" id="email" name="email"  th:placeholder="#{placeholder_login_usuario}">
                    <div id="mensaje_error1" class="alerta"></div></br>
                    <input type="button" id="btn_siguiente" class="inicio-sesion" onclick="mostrarPregunta()" th:value="#{boton_login}">
                </div>
                <div id="pregunta_respuesta">
                    <div id="question"></div></br>
                    <input type="text" id="answer" name="answer"  th:placeholder="#{placeholder_respuesta}"></br>
                    <div id="mensaje_error2" class="alerta"></div></br>
                    <input type="button" id="btn_enviar" class="inicio-sesion" onclick="comprobarRespuesta()" th:value="#{boton_enviar}"></br></br>
                </div>
                <div id="clave_volver">
                    <div id="clave_recuperada"></div></br>
                    <input type="button" id="btn_volver" class="inicio-sesion" onclick="window.location.assign('authusuario')" th:value="#{boton_volver}"></br></br>
                </div>
            </div>
        </div>
    </form>
</span>