<nav>
  <a th:href="@{/alta-cliente/datos-personales}" class="bardatos"><img src="/img/datos1-selected.png" alt="Datos Personales" style="width: 50px; height: 50px;"></a>
  <a th:href="@{/alta-cliente/datos-contacto}" class="bardatos"><img src="/img/datos2-selected.png" alt="Datos de contacto" style="width: 50px; height: 50px;"></a>
  <a th:href="@{/alta-cliente/datos-cliente}" class="bardatos"><img src="/img/datos3-selected.png" alt="Datos del cliente" style="width: 50px; height: 50px;"></a>
  <a th:href="@{/alta-cliente/confirmar-registro}" class="bardatos" ><img src="/img/resumen-selected.png" alt="Resumen" style="width: 50px; height: 50px;"></a>

</nav>