<!DOCTYPE html>
<html lang="es_ES">
<head>
    <meta charset="UTF-8">
    <title>Datos usuario</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />
    <link type="text/css" rel="stylesheet" th:href="@{/css/usuario.css}"/>
</head>
<body>
<form id="form_usuario" action="registro" method="post" th:object="${usuario}">
    <div th:if="${err != null}">
        <h4 th:text="${mensaje}" class="alerta"/>
        <p th:each="error : ${err}" th:text="${error}" class="errores" />
    </div>
    <table class="columnas">
        <tr>
            <td><span class="errores" th:text="#{asterisco}"/></td>
            <td><label id="lab_email" for="email" th:text="#{etiqueta_email}"/></td>
            <td><input type="text" th:field="*{email}"/></td>
        </tr>
        <tr>
            <td></td>
            <!--/*<td colspan="3"><div th:errors="*{email}" class="errores"/></td>*/-->
        </tr>
        <tr>
            <td><span class="errores" th:text="#{asterisco}"/></td>
            <td><label id="lab_clave" for="clave" th:text="#{etiqueta_clave}"/></td>
            <td><input type="password" th:field="*{clave}"/>
                <i class="bi bi-eye-slash" id="btn_mostrar_contrasena"/>
            </td>
        </tr>
        <tr>
            <td></td>
            <!--/*<td colspan="3"><div th:errors="*{clave}" class="errores"/></td>*/-->
        </tr>
        <tr>
            <td><span class="errores" th:text="#{asterisco}"/></td>
            <td><label id="lab_confirmar_clave" for="confirmarClave" th:text="#{etiqueta_confirma_clave}"/></td>
            <td><input type="password" th:field="*{confirmarClave}"/>
                <i class="bi bi-eye-slash" id="btn_mostrar_contrasena_confirma"/>
            </td>
        </tr>
        <tr>
            <td></td>
            <!--/*<td colspan="3"><div th:errors="*{confirmarClave}" class="errores"/></td>*/-->
        </tr>
        <span th:object="${usuarioEmpleadoCliente}">
            <tr>
                <td><span class="errores" th:text="#{asterisco}"/></td>
                <td><label id="lab_recuperacion_clave" for="recuperacionClave.pregunta" th:text="#{etiqueta_pregunta}"/></td>
                <td><select th:field="*{recuperacionClave.pregunta}">
                        <option th:each="preg : ${mapa_preguntas}"
                                th:value="${preg.key}"
                                th:text="${preg.value}">
                        </option>
                    </select>
                </td>
            </tr>
            <tr>
                <td></td>
                <!--/*<td colspan="3"><div th:errors="*{recuperacionClave.pregunta}" class="errores"/></td>*/-->
            </tr>
            <tr>
                <td><span class="errores" th:text="#{asterisco}"/></td>
                <td><label id="lab_respuesta" for="recuperacionClave.respuesta" th:text="#{etiqueta_respuesta}"/></td>
                <td><input type="text" th:field="*{recuperacionClave.respuesta}"/></td>
            </tr>
            <tr>
                <td></td>
                <!--/*<td colspan="3"><div th:errors="*{recuperacionClave.respuesta}" class="errores"/></td>*/-->
            </tr>
        </span>
        <tr>
            <td></td>
            <td colspan="3"><input type="reset" id="btn_reset" th:value="#{etiqueta_boton_reset}"/></td>
        </tr>
        <tr>
            <td></td>
            <td colspan="3"><input type="submit" id="btn_submit" th:value="#{etiqueta_boton_registro}"/></td>
        </tr>
    </table>
</form>
</body>
<script th:src="@{/scripts/usuario.js}"></script>
</html>