<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>[[#{etiqueta_datos_contacto}]]</title>
</head>
<body>
    <div th:insert="~{fragments/cabecera}"></div>

    <form id="datos-contacto" method="post" th:object="${cliente}">
        <fieldset>
        <legend th:text="#{etiqueta_datos_personales}"/>
        <br>
        <label class="titulo" th:text="#{etiqueta_telefono}+':'"/>
        <input type="text" th:field="*{telefonoMovil}"/>

        <br> <br>

        <fieldset>
            <legend th:text="#{etiqueta_direccion}"/>
           <div th:insert="~{fragments/direccion}"></div>
        </fieldset>

        <br>
        <input type="submit" th:value="#{etiqueta_botonSiguiente}">
        </fieldset>
    </form>
</body>
</html>