<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>[[#{etiqueta_datos_personales}]]</title>
</head>
<body>
<div th:insert="~{fragments/cabecera}"></div>
<form id="datos-personales" action="datos-contacto" method="post" th:object="${cliente}">
    <fieldset>
        <legend th:text="#{etiqueta_datos_personales}"/>
        <br>
        <label class="titulo" th:text="#{etiqueta_nombre}+':'"/>
        <input type="text" th:field="*{nombre}"/>

        <label class="titulo" th:text="#{etiqueta_apellidos}+':'"/>
        <input type="text" th:field="*{apellidos}"/>

        <br>
        <br>

        <label class="titulo" th:text="#{etiqueta_fecha_nac}+':'"/>
        <input type="text" th:field="*{fechaNacimiento}"/>


    </fieldset>
</form>
</body>
</html>