<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>[[#{etiqueta_resumen}]]</title>
    <link rel="stylesheet" th:href="@{/css/formulario.css}">
</head>
<body th:object="${cliente}">
<div th:insert="~{fragments/cabecera}"></div>

<div th:insert="~{fragments/navbar}"></div>
<div th:insert="~{fragments/personal}"></div>
<div th:insert="~{fragments/contacto}"></div>
<div th:insert="~{fragments/cliente}"></div>
<form id="resumen" method="post" th:object="${cliente}">
    <input type="checkbox" th:field="*{aceptacionLicencia}" id="aceptacionLicencia"
           th:checked="*{aceptacionLicencia == true}">
    <label for="aceptacionLicencia" th:text="#{etiqueta_aceptar_licencia}"/>
    <br>
    <th:block th:each="error : ${#fields.errors('aceptacionLicencia')}">
        <div th:text="${error}" class="error"/>
    </th:block>
    <input type="submit" th:value="#{etiqueta_botonAceptar}">

    <a th:href="@{masacre}" th:text="#{etiqueta_boton_borrar}"></a>
</form>
</body>
</html>