<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>[[#{etiqueta_datos_personales}]]</title>
</head>
<body>
<div th:insert="~{fragments/cabecera}"></div>
<form id="datos-personales" method="post" th:object="${cliente}">
    <fieldset>
        <legend th:text="#{etiqueta_datos_personales}"/>
        <br>
        <label class="titulo" th:text="#{etiqueta_nombre}+':'"/>
        <input type="text" th:field="*{nombre}"/>

        <label class="titulo" th:text="#{etiqueta_apellidos}+':'"/>
        <input type="text" th:field="*{apellidos}"/>

        <br>
        <br>

        <label class="titulo" th:text="#{etiqueta_genero}+':'"/>
        <select th:field="*{genero}">
            <option th:each="generoSelec : ${generos}" th:value="${generoSelec.id}" th:selected="${generoSelec==genero}">
                <th:block th:text="${generoSelec.denominacion}"/>
            </option>
        </select>

        <br>
        <br>

        <label class="titulo" th:text="#{etiqueta_fecha_nac}+':'"/>
        <input type="text" th:field="*{fechaNacimiento}"/>

        <label class="titulo" th:text="#{etiqueta_pais_nac}+':'"/>
        <select th:field="*{paisNacimiento}">
            <option th:each="pais : ${paises}" th:value="${pais.siglas}" th:selected="${pais.siglas==paisNacimiento}">
                <th:block th:text="${pais.nombre}"/>
            </option>
        </select>
        <br>
        <br>
        <label class="titulo" th:text="#{etiqueta_tipo_documento}+':'"/>
        <select th:field="*{tipoDocumentoCliente}">
            <option th:each="tipo : ${tipodocumentos}" th:value="${tipo.id}" th:selected="${tipo==tipoDocumentoCliente}">
                <th:block th:text="${tipo.denominacion}"/>
            </option>
        </select>
        <label class="titulo" th:text="#{etiqueta_documento}+':'"/>
        <input type="text" th:field="*{documento}"/>

        <br>
        <br>
        <input type="submit" th:value="#{etiqueta_botonSiguiente}">
    </fieldset>
</form>
</body>
</html>