<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Login usuario</title>
    <th:block th:replace="~{fragments/cabecera.html :: cabecera}"/>
    <th:block th:replace="~{fragments/inicio_sesion.html :: sesionhead}"/>
</head>
<body>
    <th:block th:replace="~{fragments/cabecera.html :: navegacion}"/>
    <form id="form_login_clave" action="autclave" method="post">
        <div class="wrapper fadeInDown">
            <div id="formContent">
                <th:block th:replace="~{fragments/inicio_sesion.html :: logo}"/>
                <input type="password" id="clave" name="clave" class="fadeIn second" th:placeholder="#{etiqueta_login_clave}">
                <input type="submit" id="btn_siguiente" th:value="#{etiqueta_boton_login}" class="fadeIn third">
                </br>
                <th:block th:replace="~{fragments/inicio_sesion.html :: recuperarclave}"/>
                </br>
                <th:block th:replace="~{fragments/inicio_sesion.html :: crearcuenta}"/>
            </div>
        </div>
    </form>

</body>
<script th:src="@{/scripts/usuario.js}"></script>
</html>