<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login usuario</title>
    <th:block th:replace="~{fragments/cabecera.html :: cabecera}"/>
    <th:block th:replace="~{fragments/inicio_sesion.html :: sesionhead}"/>
</head>
<body>
    <th:block th:replace="~{fragments/cabecera.html :: navegacion}"/>
    <form id="form_login_usuario" action="authusuario" method="post">
        <div th:if="${mensajeError != null}">
            <h4 th:text="${mensajeError}" class="alerta"></h4>
        </div>
        <div class="wrapper fadeInDown">
            <div id="formContent">
                <th:block th:replace="~{fragments/inicio_sesion.html :: logo}"/>
                <input type="text" id="email" name="email"  class="fadeIn second" th:placeholder="#{etiqueta_login_usuario}">
                <!--<div th:text="${email}" class="errores"></div>-->
                <input type="submit" id="btn_siguiente" th:value="#{etiqueta_boton_login}" class="fadeIn third">
                </br>
                <th:block th:replace="~{fragments/inicio_sesion.html :: recuperarclave}"/>
                </br>
                <th:block th:replace="~{fragments/inicio_sesion.html :: crearcuenta}"/>
            </div>
        </div>
    </form>
</body>
<script th:src="@{/scripts/usuario.js}"></script>
</html>