<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login usuario</title>
    <th:block th:replace="~{fragments/cabecera.html :: cabecera}"/>
    <th:block th:replace="~{fragments/inicio_sesion.html :: sesionhead}"/>
</head>
<body>
    <form id="form_recuperacion_clave" action="recuperar" method="post">
        <div id="email_boton">
            <input type="text" id="email" name="email"  th:placeholder="#{placeholder_login_usuario}"></br>
            <th:block th:if="${encontrado == null}" th:text="${mensaje}"/>
            <input type="button" id="btn_siguiente"  onclick="mostrarPregunta()" th:value="#{boton_login}">
        </div>
        <div id="pregunta_respuesta">
            <span id="pregunta"></span>
            <input type="text" id="respuesta" name="respuesta"  th:placeholder="#{placeholder_respuesta}">
            <input type="button" id="btn_enviar"  onclick="mostrarPregunta()" th:value="#{boton_enviar}">
        </div>
    </form>
</body>
<script th:src="@{/scripts/recuperacion.js}"></script>
</html>