<!DOCTYPE html>
<html lang="es">
<head>
    <title>Registro usuario</title>
    <th:block th:replace="~{fragments/cabecera.html :: cabecera}"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />
    <link type="text/css" rel="stylesheet" th:href="@{/css/navegacion.css}"/>
    <th:block th:replace="~{fragments/inicio_sesion.html :: sesionhead}"/>
    <link type="text/css" rel="stylesheet" th:href="@{/css/usuario.css}"/>
    <script th:src="@{/scripts/navegacion.js}"></script>

</head>
<body>
    <th:block th:replace="~{fragments/cabecera.html :: navegacion}"/>
    <form id="form_usuario" action="registro" method="post">
        <div class="wrapper ">
            <div id="formContent">
                <th:block th:replace="~{fragments/inicio_sesion.html :: logo}"/>
                <h4 th:text="#{etiqueta_registrar_usuario}"></h4><br>
                <span th:object="${usuario}">
                    <div th:if="${#fields.hasAnyErrors()}">
                        <h3 th:text="${mensaje}" class="alerta"></h3>
                    </div>
                    <span class="errores" th:text="#{asterisco}"></span>
                        <label id="lab_email" for="email" th:text="#{etiqueta_email}"></label>
                        <input type="text" th:field="*{email}" th:placeholder="#{placeholder_usuario}"/>
                        <div th:text="${usuarioYaRegistrado}" class="errores"></div>
                        <div th:errors="*{email}" class="errores"></div><br>
                    <span class="errores" th:text="#{asterisco}"></span>
                        <label id="lab_clave" for="clave" th:text="#{etiqueta_clave}"></label>
                        <input type="password" th:field="*{clave}" th:placeholder="#{placeholder_clave}"/>
                        <i class="bi bi-eye-slash" id="btn_mostrar_contrasena"></i>
                        <div th:errors="*{clave}" class="errores"></div><br><br>
                    <span class="errores" th:text="#{asterisco}"></span>
                        <label id="lab_confirmar_clave" for="confirmarClave" th:text="#{etiqueta_confirmar_clave}"></label>
                        <input type="password" th:field="*{confirmarClave}" th:placeholder="#{placeholder_confirmar_clave}"/>
                        <i class="bi bi-eye-slash" id="btn_mostrar_contrasena_confirma"></i>
                        <span th:each="error : ${#fields.errors('global')}" th:text="${error}" class="errores"></span><br><br>
                </span>
                <span th:object="${recuperacionClave}">
                    <span class="errores" th:text="#{asterisco}"></span>
                        <label id="lab_pregunta" for="pregunta" th:text="#{etiqueta_pregunta}"></label>
                        <select th:field="*{pregunta}">
                            <option th:each="preg : ${lista_preguntas}" th:value="${preg.id}">
                                <th:block th:text="${preg.pregunta}"/>
                            </option>
                        </select>
                        <div th:errors="*{pregunta}" class="errores"></div><br><br>
                    <span class="errores" th:text="#{asterisco}"></span>
                         <label id="lab_respuesta" for="respuesta" th:text="#{etiqueta_respuesta}"></label>
                         <input type="text" th:field="*{respuesta}" th:placeholder="#{placeholder_respuesta_recuperacion}"/>
                         <div th:errors="*{respuesta}" class="errores"></div><br><br>
                </span>
                <input type="reset" id="btn_reset" class="inicio-sesion" th:value="#{etiqueta_boton_reset}"/>
                <input type="submit" id="btn_submit" class="inicio-sesion" th:value="#{etiqueta_boton_registro}"/>
            </div>
        </div>
    </form>
    <th:block th:replace="~{fragments/cabecera.html :: pie}"/>
</body>
<script th:src="@{/scripts/usuario.js}"></script>
</html>
