<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>[[#{etiqueta_resumen}]]</title>
    <th:block th:replace="~{fragments/cabecera.html :: cabecera}"/>
    <link type="text/css" rel="stylesheet" th:href="@{/css/usuario.css}"/>
    <th:block th:replace="~{fragments/inicio_sesion.html :: sesionhead}"/>
    <link type="text/css" rel="stylesheet" th:href="@{/css/navegacion.css}"/>

</head>
<body th:object="${cliente}">
    <th:block th:replace="~{fragments/cabecera.html :: navegacion}"/>
    <div th:insert="~{fragments/navbar}"></div>
    <div th:insert="~{fragments/personal}"></div>
    <div th:insert="~{fragments/contacto}"></div>
    <div th:insert="~{fragments/cliente}"></div>

    <form id="resumen" method="post" th:object="${cliente}">
        <div class="wrapper fadeInDown">
            <fieldset id="formContentRegistro" >
                <input type="checkbox" th:field="*{aceptacionLicencia}" id="aceptacionLicencia"
                       th:checked="*{aceptacionLicencia == true}">
                <label for="aceptacionLicencia" th:text="#{etiqueta_aceptar_licencia}"/>
                <br>
                <th:block th:each="error : ${#fields.errors('aceptacionLicencia')}">
                    <div th:text="${error}" class="error"/>
                </th:block>
                <input type="submit" id="btn_siguiente" th:value="#{etiqueta_botonAceptar}" class="fadeIn third inicio-sesion">

                <a th:href="@{masacre}" th:text="#{etiqueta_boton_borrar}"></a>
            </fieldset>
        </div>
    </form>
    <th:block th:replace="~{fragments/cabecera.html :: pie}"/>
</body>
</html>