<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>[[#{etiqueta_datos_personales}]]</title>
    <link rel="stylesheet" th:href="@{/css/formulario.css}">
    <th:block th:replace="~{fragments/cabecera.html :: cabecera}"/>
</head>
<body>
    <th:block th:replace="~{fragments/cabecera.html :: navegacion}"/>
    <div th:insert="~{fragments/navbar}"></div>
    <div th:insert="~{fragments/personal}"></div>
    <th:block th:replace="~{fragments/cabecera.html :: pie}"/>
</body>
</html>