<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>[[#{etiqueta_datos_personales}]]</title>
    <th:block th:replace="~{fragments/cabecera.html :: cabecera}"/>
    <link type="text/css" rel="stylesheet" th:href="@{/css/usuario.css}"/>
    <th:block th:replace="~{fragments/inicio_sesion.html :: sesionhead}"/>
</head>
<body>
    <th:block th:replace="~{fragments/cabecera.html :: navegacion}"/>
    <div th:insert="~{fragments/navbar}"></div>
    <div th:insert="~{fragments/personal}"></div>
    <th:block th:replace="~{fragments/cabecera.html :: pie}"/>
</body>
</html>