.errores {
    color: red;
}
.alerta {
    color: red;
    font-weight: bold;
}

.columnas td:first-child {
    width: 0.5%;
}
.columnas td:nth-child(2) {
    width: 10%;
}

i {
    margin-left: -30px;
    cursor: pointer;
}

.negrita {
    font-weight: bold;
}

img {
    width: 50px;
    opacity: 0.5;
}